<mat-toolbar color="primary" class="navbar">
  <span class="logo" routerLink="/">System Ankiet</span>
  
  <span class="spacer"></span> 
  
  <div class="nav-actions">
    @if (authService.isLoggedInSignal()) {

      @if (authService.getRole() === 'USER') {
        <button mat-button routerLink="/my-surveys">Moje Ankiety</button>
      } @else {
        <button mat-button routerLink="/dashboard">Panel główny</button>
      }

      @if (authService.getRole() === 'ADMIN') {
        <button mat-button color="accent" routerLink="/admin">Panel Admina</button>
      }
      
      <span style="flex: 1 1 auto;"></span>
      <button mat-flat-button color="warn" (click)="authService.logout()">Wyloguj</button>
      
    } @else { 
      <span style="flex: 1 1 auto;"></span>
      <button mat-button routerLink="/login">Logowanie</button>
      <button mat-flat-button color="accent" routerLink="/register">Rejestracja</button>
    }
  </div>
</mat-toolbar>